@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/formatting.css">
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/site.js"></script>
</head>

<input id="guid" value="a" hidden>
<input id="idPos" value="0" hidden>

<section>
    <div id="display" class="left">
    </div>

    <img id="map" class="left" src="~/map.jpg" />
    <div id="info" class="left">
        <div class="health">10/100</div>
    </div>
</section>

<div class="left">Input</div>
<input id="input" class="right" />
