@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/site.js"></script>
</head>

<input id="guid" value="a" hidden>
<input id="idPos" value="0" hidden>

<div id="mainDiv">
    <div id="display" class="left">
    </div>
    <div id="mapHolder" class="left">
        <img id="map" class="left" src="~/map.jpg" />
        @*<img id="mapOverlay" class="left" src="~/11-1.png" />*@
        <img id="mapOverlay" class="left" />
        <div id="pos" class="Red"></div>
    </div>

    <span class="wideSpan">
        <div id="info" class="left">
            <pre class="Health left leftColumn">Health </pre>
            <pre id="HealthStatus" class="Health left">10/100</pre>
            <pre class="lineBreak"></pre>

            <pre class="Mana left leftColumn">Mana </pre>
            <pre id="ManaStatus" class="Mana left">10/100</pre>
            <pre class="lineBreak"></pre>

            <pre class="Stamina left leftColumn">Stamina </pre>
            <pre id="StaminaStatus" class="Stamina left">10/100</pre>
            <pre class="lineBreak"></pre>
        </div>
    </span>
</div>

<div id="footer">

    <div class="Left">Input</div>
    <span class="wideSpan">
        <input id="input" class="right" />
    </span>
</div>



