@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
</head>


<div id="display">
    <div class="health inl">10/100</div>
    <div class="mana inl">10/100</div>
    <div class="stamina inl">10/100</div>
</div>


<img id="map" src="~/map.jpg" />
<div id="info">
    <div class="health">10/100</div>
</div>


<input id="input" />