@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/site.js"></script>
</head>

<input id="guid" value="a" hidden>
<input id="idPos" value="0" hidden>

<section>
    <div id="display" class="left">
    </div>

    <img id="map" class="left" src="~/map.jpg" />
    <div id="info" class="left">
        <pre class="Health Left">Health </pre> <pre id="HealthStatus" class="Health Left">10/100</pre> <pre class="LineBreak"></pre>
        <pre class="Mana Left">Mana </pre> <pre id="ManaStatus" class="Mana Left">10/100</pre> <pre class="LineBreak"></pre>
        <pre class="Stamina Left">Stamina </pre> <pre id="StaminaStatus" class="Stamina Left">10/100</pre> <pre class="LineBreak"></pre>
    </div>
</section>

<div class="Footer">

    <div class="Left">Input</div>
    <span class="InputSpan">
        <input id="input" class="right" />
    </span>
</div>



