@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
</head>


<div id="display">
    <div class="health inlineLeft">10/100</div>
    <div class="mana inlineLeft">10/100</div>
    <div class="stamina inlineLeft">10/100</div>
    <div>testing</div>
    <div>testing2</div>
</div>


<img id="map" src="~/map.jpg" />
<div id="info">
    <div class="health">10/100</div>
</div>

<div>Input</div>
<input id="input" />