@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/color.css">
</head>

<section>
    <div id="display" class="inlineLeft">
        <pre class="health inlineLeft">10/100 </pre>
        <pre class="mana inlineLeft">10/100 </pre>
        <pre class="stamina inlineLeft">10/100 </pre>
        <pre>testing </pre>
        <pre>testing2 </pre>
    </div>

    <img id="map" class="inlineLeft" src="~/map.jpg" />
    <div id="info" class="inlineLeft">
        <div class="health">10/100</div>
    </div>
</section>

<div>Input</div>
<input id="input" />
