@{
    ViewData["Title"] = "Home Page";
}

<div class="box">
    <h1>Players</h1>
    <canvas id="PlayerChart" width="400" height="150"></canvas>
</div>

<div class="box">
    <h1>Cpu</h1>
    <canvas id="CpuChart" width="400" height="150"></canvas>
</div>

<div class="box">
    <h1>MilliSeconds</h1>
    <canvas id="MsChart" width="400" height="150"></canvas>
</div>

<div class="box">
    <h1>Memory</h1>
    <canvas id="MemoryChart" width="400" height="150"></canvas>
</div>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    $(document).ready(function () {

        var c = document.getElementById("PlayerChart");
        var ctx = c.getContext("2d");
        var result = [];
        result = getValues("/LineChart/Player");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: result,

            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: 'rgb(192, 192, 192)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'rgb(64, 64, 64)'
                        }
                    }]
                },
                legend: {
                    labels: {
                        fontColor: 'rgb(192, 192, 192)'
                    }
                }
            }
        });


        c = document.getElementById("CpuChart");
        ctx = c.getContext("2d");
        result = [];
        result = getValues("/LineChart/Cpu");
        myLineChart = new Chart(ctx, {
            type: 'line',
            data: result,


            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: 'rgb(192, 192, 192)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'rgb(64, 64, 64)'
                        }
                    }]
                },
                legend: {
                    labels: {
                        fontColor: 'rgb(192, 192, 192)'
                    }
                }
            }
        });

        c = document.getElementById("MsChart");
        ctx = c.getContext("2d");
        result = [];
        result = getValues("/LineChart/TurnTime");
        myLineChart = new Chart(ctx, {
            type: 'line',
            data: result,


            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: 'rgb(192, 192, 192)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'rgb(64, 64, 64)'
                        }
                    }]
                },
                legend: {
                    labels: {
                        fontColor: 'rgb(192, 192, 192)'
                    }
                }
            }
        });

        c = document.getElementById("MemoryChart");
        ctx = c.getContext("2d");
        result = [];
        result = getValues("/LineChart/Memory");
        myLineChart = new Chart(ctx, {
            type: 'line',
            data: result,


            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: 'rgb(192, 192, 192)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'rgb(64, 64, 64)'
                        }
                    }]
                },
                legend: {
                    labels: {
                        fontColor: 'rgb(192, 192, 192)'
                    }
                }
            }
        });


    });


</script>