<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServerAdress" value="127.0.0.1"/>
    <!--<add key="ServerAdress" value="elavanis.dyndns.pro"/>-->
    <!--<add key="ServerAdress" value="ls653"/>-->
    <!--<add key="ServerAdress" value="10.0.1.2"/>-->

    <add key="Port" value="52475"/>
    <add key="MaxLines" value="1000"/>
    <add key="FontSize" value ="8"/>
    <add key="Map" value="True"/>
    <add key="Sound" value="True"/>

    <!--<add key="ShortCutKeyInsert" value="Kill"/>
    <add key="ShortCutKeyEnd" value="Sleep"/>
    <add key="ShortCutKeyDown" value="South"/>
    <add key="ShortCutKeyNext" value="Down"/>
    <add key="ShortCutKeyLeft" value="West"/>
    <add key="ShortCutKeyClear" value="Look"/>
    <add key="ShortCutKeyRight" value="East"/>
    <add key="ShortCutKeyHome" value="Stand"/>
    <add key="ShortCutKeyUp" value="North"/>
    <add key="ShortCutKeyPageUp" value="Up"/>-->

    <add key="ShortCutKeyNumPad0" value="Kill"/>
    <add key="ShortCutKeyNumPad1" value="Sleep"/>
    <add key="ShortCutKeyNumPad2" value="South"/>
    <add key="ShortCutKeyNumPad3" value="Down"/>
    <add key="ShortCutKeyNumPad4" value="West"/>
    <add key="ShortCutKeyNumPad5" value="Look"/>
    <add key="ShortCutKeyNumPad6" value="East"/>
    <add key="ShortCutKeyNumPad7" value="Stand"/>
    <add key="ShortCutKeyNumPad8" value="North"/>
    <add key="ShortCutKeyNumPad9" value="Up"/>


    <add key="AsciiArt" value="Gainsboro"/>
    <add key="ClientCommand" value="White"/>
    <add key="Connection" value="SteelBlue"/>
    <add key="Communication" value="Purple"/>
    <add key="DamageDelt" value="Gold"/>
    <add key="DamageReceived" value="DarkRed"/>
    <add key="Exception" value="Red"/>
    <add key="Info" value="LightBlue"/>
    <add key="Item" value="Yellow"/>
    <add key="NonPlayerCharacter" value="Gray"/>
    <add key="PlayerCharacter" value="Orange"/>
    <add key="Room" value="Green"/>
    <add key="Health" value="Red"/>
    <add key="Mana" value="Blue"/>
    <add key="Stamina" value="DarkGreen"/>

  </appSettings>
</configuration>