/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*body {
    background-color: black
}*/


.box {
    float: left;
    width: 500px;
    /*width: 50%;*/
    padding: 5px;
}




@media only screen and (max-width: 4000px) {
    .box {
        width: 25%;
    }
}

@media only screen and (max-width: 3000px) {
    .box {
        width: 33%;
    }
}

@media only screen and (max-width: 2000px) {
    .box {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .box {
        width: 100%;
    }
}
