body {
    background-color: black;
}

html {
    font-size: 20px;
    color: white;
}


#display {
    width: 75%;
    height: 95%;
    display: inline-block;
    float: left;
    overflow: auto;
}

#info {
    width: 25%;
    display: inline-block;
    float: right;
    overflow: auto;
}

.inlineLeft {
    display: inline-block;
    float: left;
}


img {
    width: 25%;
    display: inline-block;
    float: right;
}

input {
    width: 100%;
    border:1px solid white;
    background-color:black;
    color:white;
}
