body {
    background-color: black;
}

html {
    font-size: 14px;
    color: white;
}

#display {
    width: 75%;
    height: 100%;
    overflow: auto;
}

#info {
    overflow: auto;
}

.Left {
    float: left;
}

.Right {
    float: right;
}

.LineBreak {
    clear: left;
}

.InputSpan {
    overflow: hidden;
    display: block;
    padding: 0 15px 0 10px;
}

.Footer{
    position:fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

img {
    width: 25%;
}

input {
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
}

section {
    height: 95%;
}

    section:after {
        content: "";
        display: table;
        clear: both;
    }

pre {
    margin: 0;
    white-space: pre-wrap;
}

